<fieldset
    class="gap-medium uk-rounded p-medium relative flex flex-col border"
    id="{{ 'blocks[' ~ index ~ ']' }}"
>
    <input
        type="hidden"
        name="{{ 'blocks[' ~ index ~ ']type' }}"
        value="{{ block.type }}"
    />
    <button
        class="uk-btn uk-btn-default uk-btn-icon uk-btn-xs -top-medium right-medium block-delete-btn absolute"
        type="button"
        onclick="deleteBlock('{{ 'blocks[' ~ index ~ ']' }}')"
    >
        <uk-icon icon="trash"></uk-icon>
    </button>
    <legend
        class="uk-btn-default uk-btn-xs uk-btn mr-auto place-self-start hover:bg-transparent"
    >
        {{ index + 1 }}. {{ block.type|capitalize }}
    </legend>
    {% for field in block.fields %}
        {% include 'page/_fields/' ~ field.type ~ '.twig' with {
            field: field,
            key: 'blocks[' ~ index ~ ']' ~ field.key
        } %}
    {% endfor %}
</fieldset>
