{% extends 'base.twig' %}

{% block title %}
    Pages
{% endblock %}

{% block actions %}
    <button
        class="uk-btn uk-btn-default"
        data-uk-toggle="target: #pages-sitemap-modal"
    >
        Sitemap
    </button>

    <a class="uk-btn uk-btn-primary" href="{{ path('app_pages_new') }}">
        New Page
    </a>
{% endblock %}

{% block body %}
    <table class="uk-table uk-table-divider uk-table-middle uk-table-justify">
        <thead>
            <tr>
                <th class="uk-table-shrink">ID</th>
                <th>Path</th>
                <th class="uk-table-shrink">Status</th>
                <th class="uk-table-shrink">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ page.getId() }}</td>
                    <td class="uk-table-link">
                        <a
                            href="{{
                            path(
                                'app_page',
                                {
                                    id: page.id
                                }
                            )
                            }}"
                        >
                            {{ page.getPath() }}
                        </a>
                    </td>
                    <td>{{ page.isPublished() ? 'Published' : 'Draft' }}</td>
                    <td class="py-0">
                        <button
                            class="uk-btn uk-btn-ghost uk-btn-icon uk-btn-sm"
                            data-uk-toggle="target: #page-delete-modal-{{
                            page.id
                            }}"
                        >
                            <uk-icon icon="trash"></uk-icon>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modals %}
    {% for page in pages %}
        <div id="page-delete-modal-{{ page.id }}" data-uk-modal>
            <div class="uk-modal-dialog uk-margin-auto-vertical">
                <button
                    class="uk-modal-close absolute right-4 top-4"
                    type="button"
                    data-uk-close
                >

                </button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Are you sure?</h2>
                </div>
                <div class="uk-modal-body">
                    <p>
                        This action will delete page '{{ page.path }}'.
                    </p>
                </div>
                <div class="uk-modal-footer gap-small flex justify-end">
                    <span class="grow"></span>

                    <button
                        class="uk-modal-close uk-btn uk-btn-default"
                        type="button"
                    >
                        Cancel
                    </button>

                    <form
                        class="inline w-fit"
                        method="post"
                        action="{{
                        path(
                            'app_page_delete',
                            {
                                id: page.id
                            }
                        )
                        }}"
                    >
                        <button class="uk-btn uk-btn-destructive">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    <div id="pages-sitemap-modal" data-uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical">
            <button
                class="uk-modal-close absolute right-4 top-4"
                type="button"
                data-uk-close
            >

            </button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">
                    Sitemap for locale: {{ app.session.get('__locale') }}
                </h2>
            </div>

            <div class="uk-modal-footer gap-small flex justify-end">
                <span class="grow"></span>

                <button
                    class="uk-modal-close uk-btn uk-btn-default"
                    type="button"
                >
                    Cancel
                </button>

                <form
                    class="inline w-fit"
                    method="post"
                    action="{{ path('app_pages_sitemap_delete') }}"
                >
                    <button class="uk-btn uk-btn-default">Delete</button>
                </form>

                <form
                    class="inline w-fit"
                    method="post"
                    action="{{ path('app_pages_sitemap') }}"
                >
                    <button class="uk-btn uk-btn-primary">Generate</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
