{% extends 'base.twig' %}

{% block title %}
    Media
{% endblock %}

{% block actions %}
    <a class="uk-btn uk-btn-default" href="{{ path('app_media_favicon') }}">
        Favicon
    </a>
    <a class="uk-btn uk-btn-primary" href="{{ path('app_media_new') }}">
        New Media
    </a>
{% endblock %}

{% block body %}
    <ul
        class="gap-medium grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
        {% for media in media %}
            <li class="uk-card group relative flex flex-col overflow-hidden">
                <div
                    class="right-small top-small absolute opacity-0 group-hover:opacity-100"
                >
                    <button
                        class="uk-btn uk-btn-default uk-btn-icon"
                        data-uk-toggle="target: #media-delete-modal-{{
                        media.id
                        }}"
                    >
                        <uk-icon icon="trash"></uk-icon>
                    </button>
                </div>

                <div class="h-56 overflow-hidden">
                    {% if media.type == 'image' %}
                        <img
                            class="h-full w-full object-cover"
                            src="{{ media.variants['thumbnail'] }}"
                            alt=""
                        />
                    {% else %}
                        <div class="flex h-full items-center justify-center">
                            <uk-icon
                                icon="file"
                                height="48"
                                width="48"
                            ></uk-icon>
                        </div>
                    {% endif %}
                </div>

                <div class="uk-card-body shrink-0">
                    <h3 class="uk-card-title py-smallest truncate">
                        {{ media.name }}
                    </h3>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block modals %}
    {% for media in media %}
        <div id="media-delete-modal-{{ media.id }}" data-uk-modal>
            <div class="uk-modal-dialog uk-margin-auto-vertical">
                <button
                    class="uk-modal-close absolute right-4 top-4"
                    type="button"
                    data-uk-close
                >

                </button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Are you sure?</h2>
                </div>
                <div class="uk-modal-body">
                    <p>
                        This action will delete media '{{ media.name }}'.
                    </p>
                </div>
                <div class="uk-modal-footer gap-small flex justify-end">
                    <span class="grow"></span>

                    <button
                        class="uk-modal-close uk-btn uk-btn-default"
                        type="button"
                    >
                        Cancel
                    </button>

                    <form
                        class="inline w-fit"
                        method="post"
                        action="{{
                        path(
                            'app_media_delete',
                            {
                                id: media.id
                            }
                        )
                        }}"
                    >
                        <button class="uk-btn uk-btn-destructive">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
