{% extends 'base.twig' %}

{% block title %}
    Locale
{% endblock %}

{% block actions %}
    <a class="uk-btn uk-btn-primary" href="{{ path('app_locale_new') }}">
        New Locale
    </a>
{% endblock %}

{% block body %}
    <table class="uk-table uk-table-divider uk-table-middle uk-table-justify">
        <thead>
            <tr>
                <th class="uk-table-shrink">ID</th>
                <th>Name</th>
                <th class="uk-table-shrink">Default</th>
                <th class="uk-table-shrink">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for locale in locales %}
                <tr>
                    <td>{{ locale.id }}</td>
                    <td class="uk-table-link">
                        <a
                            href="{{
                            path(
                                'app_locale_edit',
                                {
                                    id: locale.id
                                }
                            )
                            }}"
                        >
                            {{ locale.name }}
                        </a>
                    </td>
                    <td>{{ locale.isDefault ? 'True' : '' }}</td>
                    <td class="py-0">
                        {% if locale.isDefault %}
                            <button
                                class="uk-btn uk-btn-outline uk-btn-icon uk-btn-sm"
                                disabled
                            >
                                <uk-icon icon="trash"></uk-icon>
                            </button>
                        {% else %}
                            <button
                                class="uk-btn uk-btn-outline uk-btn-icon uk-btn-sm"
                                data-uk-toggle="target: #locale-delete-modal-{{
                                locale.id
                                }}"
                            >
                                <uk-icon icon="trash"></uk-icon>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modals %}
    {% for locale in locales %}
        <div id="locale-delete-modal-{{ locale.id }}" data-uk-modal>
            <div class="uk-modal-dialog uk-margin-auto-vertical">
                <button
                    class="uk-modal-close absolute right-4 top-4"
                    type="button"
                    data-uk-close
                >

                </button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Are you sure?</h2>
                </div>
                <div class="uk-modal-body">
                    <p>
                        This action will delete locale '{{ locale.name }}'.
                    </p>
                </div>
                <div class="uk-modal-footer gap-small flex justify-end">
                    <span class="grow"></span>

                    <button
                        class="uk-modal-close uk-btn uk-btn-default"
                        type="button"
                    >
                        Cancel
                    </button>

                    <form
                        class="inline w-fit"
                        method="post"
                        action="{{
                        path(
                            'app_locale_delete',
                            {
                                id: locale.id
                            }
                        )
                        }}"
                    >
                        <button class="uk-btn uk-btn-destructive">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
