{% extends 'base.twig' %}

{% block title %}
    Settings
{% endblock %}

{% block actions %}
    <button
        class="uk-btn uk-btn-primary"
        form="edit-settings-form"
        type="submit"
    >
        Save
    </button>
{% endblock %}

{% block body %}
    <fieldset
        class="gap-medium p-medium uk-rounded relative flex flex-col border shadow"
    >
        <legend
            class="uk-btn-default uk-btn-xs uk-btn bg-card text-card-foreground border-border mr-auto place-self-start"
        >
            SMTP Email Account
        </legend>

        <form
            id="edit-settings-form"
            class="uk-form-stacked"
            method="post"
            action="{{ path('app_settings') }}"
        >
            <div
                class="{{
                errors.email_account_username ?? ''
                    ? 'form-destructive'
                    : ''
                }}"
            >
                <label class="uk-form-label" for="email_account_username">
                    Username
                </label>
                <div class="uk-form-controls">
                    <input
                        class="uk-input"
                        type="text"
                        id="email_account_username"
                        name="email_account_username"
                        value="{{ values.email_account_username ?? '' }}"
                    />
                </div>
                <div class="uk-form-help">
                    {{ errors.email_account_username ?? '' }}
                </div>
            </div>

            <div
                class="{{
                errors.email_account_password ?? ''
                    ? 'form-destructive'
                    : ''
                }}"
            >
                <label class="uk-form-label" for="email_account_password">
                    Password
                </label>
                <div class="uk-form-controls">
                    <input
                        class="uk-input"
                        type="password"
                        id="email_account_password"
                        name="email_account_password"
                        value="{{ values.email_account_password ?? '' }}"
                    />
                </div>
                <div class="uk-form-help">
                    {{ errors.email_account_password ?? '' }}
                </div>
            </div>

            <div
                class="{{
                errors.email_account_host ?? ''
                    ? 'form-destructive'
                    : ''
                }}"
            >
                <label class="uk-form-label" for="email_account_host">
                    Host
                </label>
                <div class="uk-form-controls">
                    <input
                        class="uk-input"
                        type="text"
                        id="email_account_host"
                        name="email_account_host"
                        value="{{ values.email_account_host ?? '' }}"
                    />
                </div>
                <div class="uk-form-help">
                    {{ errors.email_account_host ?? '' }}
                </div>
            </div>

            <div
                class="{{
                errors.email_account_port ?? ''
                    ? 'form-destructive'
                    : ''
                }}"
            >
                <label class="uk-form-label" for="email_account_port">
                    Port
                </label>
                <div class="uk-form-controls">
                    <input
                        class="uk-input"
                        type="number"
                        id="email_account_port"
                        name="email_account_port"
                        value="{{ values.email_account_port ?? '' }}"
                    />
                </div>
                <div class="uk-form-help">
                    {{ errors.email_account_port ?? '' }}
                </div>
            </div>
        </form>
    </fieldset>
{% endblock %}
