<fieldset
    class="gap-medium uk-rounded p-medium relative flex flex-col border"
    id="{{ key }}"
    {# id="{{ 'blocks[' ~ block.index ~ ']' }}" #}
>
    {# <input
        type="hidden"
        name="{{ 'blocks[' ~ block.index ~ '][_type]' }}"
        value="{{ block.type }}"
    /> #}

    <div class="right-medium absolute -top-[1.75rem] flex">
        <button
            class="uk-btn uk-btn-default uk-btn-icon uk-btn-xs block-moveup-btn"
            type="button"
            onclick="addArrayItem('{{ key }}')"
        >
            <uk-icon icon="plus"></uk-icon>
        </button>
    </div>

    <legend
        class="uk-btn-default uk-btn-xs uk-btn mr-auto place-self-start hover:bg-transparent"
    >
        {{ label }}
    </legend>

    {% for index, item in value %}
        {% with {
            index: index
        }
        %}
        {{ block('template') }}
        {% endwith %}
    {% endfor %}
</fieldset>

<template id="{{ key }}-template">
    {% block template %}
        <fieldset
            class="gap-medium uk-rounded p-medium relative flex flex-col border"
            id="{{ key }}[{{ index }}]"
        >
            <div class="right-medium absolute -top-[1.75rem] flex">
                <button
                    class="uk-btn uk-btn-default uk-btn-icon uk-btn-xs block-moveup-btn"
                    type="button"
                    onclick="deleteArrayItem('{{ key }}[{{ index }}]')"
                >
                    <uk-icon icon="trash"></uk-icon>
                </button>
            </div>

            <legend
                class="uk-btn-default uk-btn-xs uk-btn mr-auto place-self-start hover:bg-transparent"
            >
                {{ index }}
            </legend>

            {% for field in _field.fields %}
                {% include 'page/_fields/_' ~ field.type ~ '.twig' with {
                    _field: field,
                    label: field.key|capitalize,
                    key: key ~ '[' ~ index ~ '][' ~ field.key ~ ']',
                    value: value[index][field.key] ?? '',
                    error: errors['items'][index][field.key] ?? null
                } %}
            {% endfor %}
        </fieldset>
    {% endblock %}
</template>
