<div class="{{ error ? 'form-destructive' : '' }}">
    <label class="uk-form-label" for="{{ key }}">{{ label }}</label>
    <div class="uk-form-controls">
        <input
            class="uk-input"
            id="{{ key }}"
            name="{{ key }}"
            value="{{ value }}"
        />
    </div>
    <div class="uk-form-help">
        {{ error }}
    </div>
</div>
