<div class="{{ error ? 'form-destructive' : '' }}">
    <label class="uk-form-label" for="{{ key }}">{{ label }}</label>
    <div class="uk-form-controls">
        <textarea class="uk-textarea" name="{{ key }}" id="{{ key }}">
            {{- value -}}
        </textarea>
    </div>
    <div class="uk-form-help">
        {{ error }}
    </div>
</div>
