<aside
    class="p-small gap-small bg-sidebar-background sticky top-0 flex h-full w-56 shrink-0 flex-col border-r shadow"
>
    <span class="text-muted-foreground px-medium">{{ env('APP_NAME') }}</span>
    <hr />
    <nav class="space-y-smallest">
        <a
            class="uk-btn uk-btn-ghost w-full justify-start font-normal"
            href="{{ path('app_pages') }}"
        >
            <uk-icon icon="columns-2"></uk-icon>
            <span>Pages</span>
        </a>
        <a
            class="uk-btn uk-btn-ghost w-full justify-start font-normal"
            href="{{ path('app_layout') }}"
        >
            <uk-icon icon="layout-dashboard"></uk-icon>
            <span>Layouts</span>
        </a>
        <a
            class="uk-btn uk-btn-ghost w-full justify-start font-normal"
            href="{{ path('app_media') }}"
        >
            <uk-icon icon="image"></uk-icon>
            <span>Media</span>
        </a>
        <a
            class="uk-btn uk-btn-ghost w-full justify-start font-normal"
            href="{{ path('app_redirects') }}"
        >
            <uk-icon icon="split"></uk-icon>
            <span>Redirects</span>
        </a>
        <a
            class="uk-btn uk-btn-ghost w-full justify-start font-normal"
            href="{{ path('app_locale') }}"
        >
            <uk-icon icon="languages"></uk-icon>
            <span>Locale</span>
        </a>
    </nav>

    <span class="text-muted-foreground px-medium mt-medium">Settings</span>
    <hr />
    <nav class="space-y-smallest">
        <a
            class="uk-btn uk-btn-ghost w-full justify-start font-normal"
            href="{{ path('app_settings_theme') }}"
        >
            <uk-icon icon="palette"></uk-icon>
            <span>Theme</span>
        </a>
        <a
            class="uk-btn uk-btn-ghost w-full justify-start font-normal"
            href="{{ path('app_settings_email_account') }}"
        >
            <uk-icon icon="at-sign"></uk-icon>
            <span>Email Account</span>
        </a>
    </nav>

    {% set __locales = __locales() %}
    <div class="gap-small mt-auto flex flex-col">
        <div>
            <button class="uk-btn uk-btn-default w-full truncate" type="button">
                {% for locale in __locales %}
                    {% if app.session.get('__localeId') == locale.id %}
                        {{ locale.name }}
                    {% endif %}
                {% endfor %}
            </button>
            <div
                class="uk-drop uk-dropdown w-full"
                data-uk-dropdown="mode: click; pos: top-left"
            >
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header">Locale</li>
                    {% for locale in __locales %}
                        <li>
                            <a
                                href="{{
                                path(
                                    'app_locale_change',
                                    {
                                        id: locale.id
                                    }
                                )
                                }}"
                            >
                                {{ locale.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div>
            <button class="uk-btn uk-btn-default w-full" type="button">
                <span class="truncate">{{ app.user.email }}</span>
            </button>
            <div
                class="uk-drop uk-dropdown w-full"
                data-uk-dropdown="mode: click; pos: top-left"
            >
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header">Account</li>
                    <li>
                        <a href="{{ path('app_auth_password_reset') }}">
                            Change Password
                        </a>
                    </li>
                    <li><a href="{{ path('app_auth_logout') }}">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</aside>
