<!DOCTYPE html>
<html class="uk-theme-neutral dark h-full">
    <head>
        <meta charset="UTF-8" />
        <title>
            {{ block('title') ?? '' }} - Syenite CMS
        </title>
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"
        />
        {{ block('stylesheets') ?? '' }}
        {{ block('javascripts') ?? '' }}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="flex h-full overflow-hidden">
        <aside
            class="p-small gap-small sticky top-0 flex h-full min-w-48 flex-col border-r"
        >
            <nav class="space-y-smallest grow">
                <a
                    class="uk-btn uk-btn-ghost w-full justify-start font-normal"
                    href="{{ path('app_dashboard') }}"
                >
                    Dashboard
                </a>
                <a
                    class="uk-btn uk-btn-ghost w-full justify-start font-normal"
                    href="{{ path('app_pages') }}"
                >
                    Pages
                </a>
            </nav>

            <form method="post" action="{{ path('app_auth_logout') }}">
                <button class="uk-btn uk-btn-default w-full">Log Out</button>
            </form>
        </aside>

        <div class="grow overflow-auto">
            <header
                class="p-small gap-small bg-background sticky top-0 box-content flex h-10 items-center border-b"
            >
                <h1 class="grow">{{ block('title') ?? '' }}</h1>
                <div class="gap-small flex">
                    {{ block('actions') ?? '' }}
                </div>
            </header>

            <main class="p-medium gap-medium flex flex-col">
                {{ block('body') ?? '' }}
            </main>
        </div>
    </body>
</html>
