<!DOCTYPE html>
<html class="dark h-full">
    <head>
        <meta charset="UTF-8" />
        <title>
            {{ block('title') ?? '' }} - Syenite CMS
        </title>
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"
        />
        <meta name="color-scheme" content="dark" />
        {{ block('stylesheets') ?? '' }}
        {{ block('javascripts') ?? '' }}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="flex h-full overflow-hidden" x-data="body">
        <aside
            class="p-small gap-small bg-sidebar-background sticky top-0 flex h-full w-56 shrink-0 flex-col border-r shadow"
        >
            <nav class="space-y-smallest grow">
                <a
                    class="uk-btn uk-btn-ghost w-full justify-start font-normal"
                    href="{{ path('app_dashboard') }}"
                >
                    <div class="size-4">
                        <uk-icon icon="chart-column"></uk-icon>
                    </div>
                    <span>Dashboard</span>
                </a>
                <a
                    class="uk-btn uk-btn-ghost w-full justify-start font-normal"
                    href="{{ path('app_pages') }}"
                >
                    <div class="size-4">
                        <uk-icon icon="columns-2"></uk-icon>
                    </div>
                    <span>Pages</span>
                </a>
                <a
                    class="uk-btn uk-btn-ghost w-full justify-start font-normal"
                    href="{{ path('app_layout') }}"
                >
                    <div class="size-4">
                        <uk-icon icon="layout-dashboard"></uk-icon>
                    </div>
                    <span>Layout Data</span>
                </a>
                <a
                    class="uk-btn uk-btn-ghost w-full justify-start font-normal"
                    href="{{ path('app_media') }}"
                >
                    <div class="size-4">
                        <uk-icon icon="image"></uk-icon>
                    </div>
                    <span>Media</span>
                </a>
                <a
                    class="uk-btn uk-btn-ghost w-full justify-start font-normal"
                    href="{{ path('app_theme_edit') }}"
                >
                    <div class="size-4">
                        <uk-icon icon="palette"></uk-icon>
                    </div>
                    <span>Theme</span>
                </a>
                <a
                    class="uk-btn uk-btn-ghost w-full justify-start font-normal"
                    href="{{ path('app_locale') }}"
                >
                    <div class="size-4">
                        <uk-icon icon="languages"></uk-icon>
                    </div>
                    <span>Locale</span>
                </a>
            </nav>

            <div class="gap-small flex justify-between">
                <form
                    class="mx-0 w-fit"
                    method="post"
                    action="{{ path('app_auth_logout') }}"
                >
                    <button class="uk-btn uk-btn-default uk-btn-icon">
                        <div class="size-4">
                            <uk-icon icon="log-out"></uk-icon>
                        </div>
                    </button>
                </form>

                <a
                    class="uk-btn uk-btn-default uk-btn-icon w-fit"
                    href="{{ path('app_settings') }}"
                >
                    <div class="size-4">
                        <uk-icon icon="settings"></uk-icon>
                    </div>
                </a>
            </div>
        </aside>

        <div class="grow overflow-auto">
            <header
                class="p-small gap-small bg-background sticky top-0 z-40 box-content flex h-10 items-center border-b shadow"
            >
                <div class="gap-small flex grow items-center">
                    {% if block('back_link') ?? '' %}
                        <a
                            class="uk-btn uk-btn-ghost uk-btn-icon"
                            href="{{ block('back_link') }}"
                        >
                            <uk-icon
                                class="scale-150"
                                icon="chevron-left"
                            ></uk-icon>
                        </a>
                    {% endif %}
                    <h1>{{ block('title') ?? '' }}</h1>
                </div>
                <div class="gap-small flex">
                    {{ block('actions') ?? '' }}
                </div>
            </header>

            <main class="p-medium gap-medium flex flex-col">
                {{ block('body') ?? '' }}
            </main>
        </div>

        <div class="fixed">
            {{ block('modals') ?? '' }}
        </div>

        <div
            class="bottom-small right-small gap-smallest fixed flex w-full max-w-[24rem] flex-col"
        >
            {% for i, message in app.flashes('error') %}
                <div
                    class="uk-alert uk-alert-destructive"
                    id="flash-error-{{ i }}"
                    data-uk-alert
                    x-init="setTimeout(() => UIkit.alert('#flash-error-{{
                    i
                    }}').close(), 3000)"
                >
                    <a href class="uk-alert-close" data-uk-close></a>
                    <div class="gap-small flex items-center">
                        <div class="size-4">
                            <uk-icon icon="circle-x"></uk-icon>
                        </div>
                        <p>
                            {{ message }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            {% for i, message in app.flashes('success') %}
                <div
                    class="uk-alert"
                    id="flash-success-{{ i }}"
                    data-uk-alert
                    x-init="setTimeout(() => UIkit.alert('#flash-success-{{
                    i
                    }}').close(), 3000)"
                >
                    <a href class="uk-alert-close" data-uk-close></a>
                    <div class="gap-small flex items-center">
                        <div class="size-4">
                            <uk-icon icon="check"></uk-icon>
                        </div>
                        <p>
                            {{ message }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
